<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-cocktails">

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="logo">
      <%= link_to '<i class="fas fa-cocktail"></i>'.html_safe, cocktails_path  %>
    </div>
    <div class="nav-button">
      <%= link_to "Create a Cocktail", new_cocktail_path, class: "btn btn-primary"%>
    </div>


    <!-- Profile picture with dropdown list -->
  </div>

  <!-- Dropdown appearing on mobile only -->

    <%= yield %>
    <hr>
    <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/RochaLS" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lsrocha13/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/lucas-srocha/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This web application is made with <i class="fas fa-heart"></i> by Lucas Rocha
  </div>
</div>

    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
